<configuration>
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/shareplaylearn/TokenValidator/TokenValidator.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/shareplaylearn/TokenValidator/TokenValidator-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
                <maxHistory>14</maxHistory>
                <totalSizeCap>100MB</totalSizeCap>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%-35(%d [%thread]) %highlight(%-5level) %logger{26}: %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-35(%d [%thread]) %highlight(%-5level) %logger{26}: %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="logfile"/>
    </appender>

    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="async"/>
    </root>
</configuration>
